*.iml
.idea
/out/
/proLinea/nbproject/private/
/proLinea/build/
/proEmpresa/nbproject/private/
/proEmpresa/build/
/proIGU/nbproject/private/
/proAnimal/nbproject/private/
/Animal/nbproject/private/
/proVeterinaria_IVAN_SIERRA_ARRIETA_0222420035/nbproject/private/
/nbproject/
*.xml

